## week 1 Homework

In [1]:
import pandas as pd
import numpy as np

## Q1. Pandas version

In [2]:
pd.__version__

'1.3.4'

## Q2. Records count

In [3]:
df = pd.read_csv("Data\car_fuel_efficiency.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

## Q3. Fuel types

In [5]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

## Q4. Missing values

In [6]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

## Q5. Max fuel efficiency

In [7]:
df['fuel_efficiency_mpg'].max()

25.96722204888372

## Q6. Median value of horsepower

1. Find the median value of the `horsepower` column in the dataset.

In [8]:
df['horsepower'].median()

149.0

. Next, calculate the most frequent value of the same `horsepower` column.

In [9]:
most_frequent = df['horsepower'].mode()[0]
most_frequent

152.0

3. Use the `fillna` method to fill the missing values in the `horsepower` column with the most frequent value from the previous step.

In [10]:
df['horsepower'] = df['horsepower'].fillna(most_frequent)

4. Now, calculate the median value of `horsepower` once again.

In [11]:
new_median = df['horsepower'].median()
new_median

152.0

## Q7. Sum of weights

1. Select all the cars from Asia

In [12]:
asia_cars = df[df['origin'] == 'Asia']

2. Select only columns `vehicle_weight` and `model_year`

In [13]:
asia_selected = asia_cars[['vehicle_weight', 'model_year']]

3. Select the first 7 values

In [14]:
asia_selected_7 = asia_selected.head(7)

4. Get the underlying NumPy array. Let's call it `X`.

In [15]:
X = asia_selected_7.to_numpy()

5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.

In [16]:
XTX = X.T @ X

6. Invert `XTX`.

In [17]:
XTX_inv = np.linalg.inv(XTX)

7. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100, 1200]`.

In [18]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.

In [19]:
w = XTX_inv @ X.T @ y

9. What's the sum of all the elements of the result?

In [20]:
w.sum()

0.5187709081074007